body {
  font-family: 'Gotham', sans-serif;
  margin: 0;
  display: grid;
  place-items: center; /* Centers everything both ways in one line */
  min-height: 100%;
}

ion-content {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;

  --overflow: hidden; 
}


.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: center; 
  padding: 10px;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.s-to-t-section {
  flex-grow: 1;
  position: relative;
  margin: 10px 0;
  align-items: center;
  max-width: 600px;
  top: 80px;
  width: 100%;
  height: 550px;
  font-size: 0px;
  z-index: 10;
}
.sign-to-text {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  position: relative;
  color: #000000;
  font-family: Gotham, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  z-index: 12;
}

.rectangle-3 {
  position: absolute;
  width: 100%;
  height: 600px;
  top: 0;
  left: 0;
  bottom: 20px;
  background: #ececec;
  z-index: 11;
  border-radius: 20px;
}

.app-title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 55px;
  color: #0f4bb4;
  font-family: Gotham, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  z-index: 1;
}

/* // LE PHONE screen size Galaxy S24 FE */
.screen-size {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #ffffff;
}

.sub-head {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 40px;
  width: 100%;
  height: 45px;
  color: #0f4bb4;
  font-family: Gotham, var(--default-font-family);
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  z-index: 2;
}


#videoElement {
  position: relative;
  top: 10px;
  width: 95%;
  height: 90%;
  margin: 5px auto 10px;
  /* background-color: black; */
  z-index: 13;
  display: block;
  object-fit: cover; 
  border-radius: 20px;
  transform: scaleX(-1);
}
#errorMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Gotham, sans-serif;
  color: #d32f2f;
  text-align: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  display: none;
  z-index: 16;
}


#subtitleBox {
  position: relative;
  top: 5px;
  margin: 15px auto 10px;
  padding: 15px;
  bottom: 5px;
  width: 95%;
  height: 50px;
  box-sizing: border-box;

  background: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  font-family: Gotham, sans-serif;
  font-size: 16px;
  text-align: center;
  border-radius: 15px;
  z-index: 15;
}

#flipBtn {
  position: absolute;
  top: 35px;
  right: 20px;                  
  width: 40px;
  height: 40px;      
  z-index: 1010;      
  
  background-color: transparent;
  background-image: url('favicon-flica.ico');
  background-repeat: no-repeat;
  background-position: center;

  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.floatingBtn {
  position: fixed;
  top: 30px;
  right: 10px;                  
  width: 80px;      
  z-index: 100;      
  padding: 10px 15px;
  font-size: 12px;
  background-color: #0f4bb4;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}


/* Pop-up card app information */
.card button {
  position: static;
  width: auto;
  margin-top: 50px;
  border-radius: 10px;
  padding: 5px;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 20px auto;
  transform: translate(-50%, -50%);
  display: flex;
  height: 40%;
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 30px;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 111;
}

.card {
  animation: pop 0.3s ease;
}

@media (max-width: 600px) {
  .card h3 {
    font-size: 1.2rem; 
  }
  
  #closeBtn {
    position: relative;
    width: 100%; 
  }
}


/* Popup installation prompt */
#install-popup {
    display: none; /* Hidden by default, JS will show it */
    position: fixed;
    bottom: 20px;
    left: 5%;
    width: 90%;
    background: #ffffff;
    color: #333;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    z-index: 1000;
    font-family: sans-serif;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
}

/* Flex containers for icon and text */
.popup-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.popup-icon {
    border-radius: 8px;
}

.popup-text strong {
    display: block;
    font-size: 14px;
}

.popup-text span {
    font-size: 12px;
    color: #666;
}

.popup-buttons {
    display: flex;
    gap: 8px;
}

#popup-close {
    background: none;
    border: none;
    color: #888;
    padding: 5px 10px;
    cursor: pointer;
}

#popup-install-btn {
    background: #007bff;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.hidden {
    display: none !important;
}

/* stop the snapping
.s-to-t-section, 
.sign-to-text, 
.rectangle-3, 
#subtitleBox, 
.sub-head,
.app-title,
.floatingBtn{
  transition: all 0.4s ease-in-out;
} */


@media only screen and (min-width: 768px) and (max-width: 1024px) {
  
  .s-to-t-section{
    flex-grow: 1;
    max-width: 800px;
    width: 95%;
    min-height: 80vh;
  }

  .sign-to-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    position: relative;
    color: #000000;
    font-family: Gotham, var(--default-font-family);
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    z-index: 12;
  }

  .rectangle-3 {
    position: absolute;
    width: 100%;
    height: 80vh;
    top: 0;
    left: 0;
    bottom: 20px;
  }

  #subtitleBox {
    padding: 20px;
    height: 70px;
    font-size: 24px;
  }

  .sub-head {
    top: 40px;
    width: 100%;
    height: 45px;
    color: #0f4bb4;
    font-family: Gotham, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 12px;
    text-align: center;
    z-index: 2;
  }

  .app-title {
    width: 100%;
    height: 55px;
    color: #0f4bb4;
    font-family: Gotham, var(--default-font-family);
    font-size: 26px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    z-index: 1;
  }

  .floatingBtn {
    position: fixed;
    top: 30px;
    right: 10px;                  
    width: 90px;
    height: 50px;      
    z-index: 100;      
    padding: 10px 15px;
    font-size: 14px;
    background-color: #0f4bb4;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  #videoElement {
    position: relative;
    top: 10px;
    width: 95%;
    height: 68vh;
    margin: 5px auto 10px;
}

}

/* @media only screen and (min-width: 300px) and (max-width: 600px) {

    .s-to-t-section{
    flex-grow: 1;
    max-width: 400px;
    width: 95%;
    min-height: 60vh;
  }

  .sign-to-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    position: relative;
    color: #000000;
    font-family: Gotham, var(--default-font-family);
    font-size: 1.0rem;
    font-weight: 600;
    text-align: center;
    z-index: 12;
  }

  .rectangle-3 {
    position: absolute;
    width: 100%;
    height: 80vh;
    top: 0;
    left: 0;
    bottom: 20px;
  }

  #subtitleBox {
    padding: 20px;
    height: 50px;
    font-size: 16px;
  }

  .sub-head {
    top: 40px;
    width: 100%;
    height: 45px;
    color: #0f4bb4;
    font-family: Gotham, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 12px;
    text-align: center;
    z-index: 2;
  }

  .app-title {
    width: 100%;
    height: 45px;
    color: #0f4bb4;
    font-family: Gotham, var(--default-font-family);
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    z-index: 1;
  }

  .floatingBtn {
    position: fixed;
    top: 10px;
    right: 10px;                  
    width: 70px;
    height: 30px;      
    z-index: 100;      
    font-size: 10px;
    background-color: #0f4bb4;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  #videoElement {
    position: relative;
    top: 10px;
    width: 90%;
    height: 58vh;
    margin: 5px auto 10px;
}

} */

@media only screen and (min-width: 300px) and (max-width: 600px) {
  #install-popup {
      
      bottom: 20px;
      left: 2%;
      right: 2%;
      width: 90%;
  }

}